.headerContainer {
  width: calc(100% - 40px);
  position: fixed;
  height: 100px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 1;
  transition: all .3s ease;
  font-family: "Poppins";

  .logoImg {
    img {
      width: 100px;
      transition: all .3s ease;
    }
  }

  &.scroll {
    box-shadow: 5px 10px 30px rgba(0,0,0,.157);
    height: 70px;
    background: whitesmoke;
    a {
      color: var(--darkJungleGreen);
    }
    img {
      width: 70px;
    }
  }

  .menu {
    img {
      width: 2rem;
      filter: invert(1);
      transition: all .3s ease;
    }

    &.clicked {
      img {
        width: 1.5rem;
      }
    }
  }


  .navItems {
    display: flex;
    list-style: none;
    li {
      margin: 0 1rem;
      a {
        font-size: 1.3rem;
        color: whitesmoke;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {

}