.topNewsCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 2rem;
}

.topNewsImg {
    width: 50%;
}

img {
    width: 90%;
}

.topNewscontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.topNewsHeader {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

.topNewsText {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.topNewsDate {
    font-family: 'Poppins', sans-serif;
}