h1 {
  margin: 5px;
}

p {
  margin: 5px;
}

.carousel {
  img {
    max-height: 400px;
  }
}

.overlay {
  display: none;
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  background: gray;
  opacity: 90%;

  &.active {
    display: block;
  }
}

.chatIcon {
  z-index: 30000;
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    filter: invert(1);
    width: 3.5rem;
  }
}


.chatBotContainer {
  z-index: 20000;
  display: none;
  position: fixed;
  top: 100px;
  width: 90%;
  max-width: 300px;
  height: 500px;
  background: white;
  border-radius: 16px;

  &.active {
    display: block;
  }

}

.myQuestion {
  color: white;
  text-align: right;
  padding: 5px 10px;
  background: var(--blue);
  width: fit-content;
  margin: 5px;
  border-radius: 16px;
}

.botResponse {
  border-radius: 16px;
  margin: 5px;
  color: white;
  text-align: left;
  padding: 5px 10px;
  width: fit-content;
  background: #06C0A8;
}

.myMessageSelector {
  button {
    border: none;
    margin: 2px;
    border-radius: 5px;
    padding: 5px;
  }
}