.endangeredSpecies {
    background-color: red;
    min-height: 100vh;
}

.endangeredSpeciesContainer {
    padding: 2rem;
    width: 80%;
    margin: 3rem;
    border-radius: 5%;
    background-color: white;
}